// colours
$blue: #3f7fbc;
$dark-blue: darken($blue, 5%);
$aquamarine: #53b7b9;
$dark-aquamarine: darken($aquamarine, 5%);
$middle-blue: #3972a9;
$pale-blue: #89c0e8;
$salad-green: #56cc72;
$green: #49ae61;
$dark-green: #3aaa3d;
$turquoise: #1eb6a7;
$light-yellow: #f9eaac;
$yellow: #f4be11;
$dark-yellow: darken($yellow, 5%);
$red: #cc4e42;
$light-red: #f9a5a5;
$gray: #7e8796;
$light-gray: #b5b8c8;
$light-gray-bg-btn: #e7e7e7;
$lighter-gray: #f0f1f2;
$almost-white: #f7f7f7;
$dark-gray: #3c3f45;
$suede: #e0e4e7;
$modal-overlay: rgba(102, 102, 102, 0.85);
$dirty-green: #75a64b;
$orange: #ffa902;
$dark-orange: darken($orange, 5%);
//content
$content-bg-color: $suede;
// scaffolding
$lk-font: 'Open Sans', 'Roboto', sans-serif;
$lk-icon-dark: $gray;
$lk-icon-light: $light-gray;
// _header
$lk-header-colour: $dark-gray;
$lk-header-hover: $blue;
// _notifications
$status-new: $turquoise;
$status-pending: $blue;
$status-positive: $salad-green;
$status-negative: $red;
$status-closed: $gray;
$wallet-income: $salad-green;
$wallet-spent: $red;
$active: $blue;
$not-active: $gray;
$shadow: 0 2px 8px 0 rgba(107, 118, 132, 0.6);
// modals
$input: #777;
$input-bg: #edf0f1;
$input-bg-hover: $almost-white;
$input-bg-disabled: $lighter-gray;
$input-disabled: $gray;
