<template>
  <div>
    <input
      :id="id"
      :value="modelValue"
      v-bind="$attrs"
      type="checkbox"
      :class="['tw-hidden', classes, invalid && 'invalid']"
      :checked="modelValue"
      @change="onChange"
    />
    <label
      :for="id"
      class="
        tw-relative tw-text-14px tw-flex tw-font-normal tw-cursor-pointer tw-pl-24px tw-leading-24px
        field-label-checkbox
      "
    >
      <slot name="label" />

      <span v-if="required" class="tw-text-red-600 tw-pl-4px">* &nbsp;</span>
    </label>
  </div>
</template>
<script lang="ts">
import { defineComponent, onMounted } from 'vue'
export default defineComponent({
  name: 'CommonCheckbox',
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default: '',
    },
    classes: {
      type: String,
      default: '',
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    modelValue: {
      type: [Boolean],
      default: false,
    },
  },
  setup(props, context) {
    function onChange(): void {
      context.emit('update:modelValue', !props.modelValue)
    }
    onMounted(() => {
      console.log(props.modelValue)
    })

    return {
      onChange,
    }
  },
})
</script>
<style lang="scss">
.field-label-checkbox {
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #b5b8c8;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: unset;
  }

  &::after {
    content: '';
    position: absolute;
    transition: all 0.2s ease;
    left: 2px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #7e8796;
    border-bottom: 4px solid #7e8796;
    transform: rotate(-45deg);
    opacity: 0;
    box-sizing: unset;
  }
}

input[type='checkbox']:checked + .field-label-checkbox::after {
  opacity: 1;
}

.invalid + .field-label-checkbox:before {
  box-shadow: 0px 0px 4px 0px red !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[type='checkbox']:checked + label:after,
  input[type='checkbox']:not(:checked) + label:after {
    width: 12px !important;
    height: 8px !important;
  }
}
</style>
