<template>
  <div class="tw-w-full tw-h-full">
    <div v-if="$slots.label" class="tw-pb-12px tw-text-14px tw-text-gray-400">
      <label :for="id">
        <slot name="tw-flex" />
        <span v-if="required" class="tw-pl-4px tw-text-red-600">* &nbsp;</span>
      </label>
    </div>
    <div class="tw-relative tw-w-full">
      <div v-if="$slots.left" class="tw-absolute tw-text-gray-200 tw-top-1/4 tw-left-2">
        <slot name="left" />
      </div>
      <input
        :id="id"
        :value="modelValue"
        :placeholder="placeholder"
        :type="type"
        :class="[
          'tw-w-full tw-min-h-48px tw-text-14px tw-text-gray-600 tw-px-10px tw-border tw-border-solid tw-border-gray-200 tw-py-6px tw-bg-white plain-input',
          classes,
          invalid && 'tw-border-2 tw-border-red-600 tw-border-solid',
          $slots.left && 'tw-pl-34px',
          ($slots.right || reset) && 'tw-pr-34px',
          $slots.right && reset && 'tw-pr-68px',
        ]"
        @input="onInput"
      />
      <div v-if="$slots.right" class="tw-absolute tw-text-gray-200 tw-top01/4 tw-right-2">
        <slot name="right" />
      </div>
    </div>
    <div v-if="invalid" class="tw-text-red-500 tw-text-14px tw-pt-6px tw-font-semibold">
      <slot name="invalid"> Проверьте правильность заполнения поля </slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TextInput',
  props: {
    modelValue: {
      type: [String, Number, Boolean],
      default: '',
    },
    id: {
      type: [String, Number],
      default: 'text-input',
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    placeholder: {
      type: String,
      default: '',
    },
    classes: {
      type: Array,
      default: (): [] => [],
    },
    reset: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, context) {
    function onInput(event: { target: HTMLInputElement }): void {
      context.emit('update:modelValue', event.target.value)
    }

    return {
      onInput,
    }
  },
})
</script>
