<template>
  <div
    class="tw-w-full tw-min-h-screen tw-flex tw-flex-wrap tw-justify-center tw-items-center tw-p-14px tw-bg-gray-200"
  >
    <div class="tw-w-560px tw-bg-white tw-rounded-xl tw-relative tw-px-84px tw-py-54px">
      <div class="tw-w-full tw-flex tw-justify-between tw-flex-wrap">
        <span class="tw-text-30px tw-text-gray-800 tw-uppercase tw-text-left tw-w-full tw-block tw-pb-32px">
          Авторизация
        </span>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> E-mail </span>
        <VTextInput
          v-model="form.email"
          :placeholder="'Введите логин'"
          :invalid="Boolean(v$.email.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.email.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> Пароль </span>
        <VTextInput
          v-model="form.password"
          type="password"
          :placeholder="'Введите пароль'"
          :invalid="Boolean(v$.password.$errors.length)"
          class="tw-w-full tw-mb-12px"
        >
          <div v-for="error of v$.password.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <div class="tw-w-full tw-flex tw-justify-between tw-pb-48px">
          <VCheckBox id="saveId" v-model="isSaveEmail">
            <template #label> <span class="tw-text-gray-400">Запомнить меня</span> </template>
          </VCheckBox>

          <div>
            <router-link class="tw-text-14px tw-text-gray-400" to="#"> Забыли пароль? </router-link>
          </div>
        </div>

        <div class="tw-flex tw-justify-between tw-w-full">
          <VButton @click="login" @key.enter="login">
            <template #text>Войти</template>
          </VButton>
          <router-link :to="{ name: 'Register' }">
            <VButton class="outline">
              <template #text>Регистрация</template>
            </VButton>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import router from '@/router'
import useVuelidate, { ValidationArgs } from '@vuelidate/core'
import { required, email, minLength } from '@vuelidate/validators'
import VTextInput from '@/components/ui/inputs/TextInput.vue'
import VCheckBox from '@/components/ui/inputs/Checkbox.vue'
import VButton from '@/components/ui/Button.vue'

import { LoginRequestDto, UserDto } from '@/api'
import { useAuthStore } from '@/store/auth'
import { AuthActionsTypes } from '@/store/auth/actions'
import { useProfileStore } from '@/store/profile'
import { ProfileMutationType } from '@/store/profile/mutations'

export default defineComponent({
  name: 'LoginForm',
  components: {
    VTextInput,
    VCheckBox,
    VButton,
  },
  setup() {
    const authStore = useAuthStore()
    const profileStore = useProfileStore()

    const isSaveEmail = ref<boolean>(false)
    const form = reactive<LoginRequestDto>({
      email: '',
      password: '',
    })

    const rules: ValidationArgs = {
      email: { required, email },
      password: { required, min: minLength(4) },
    }

    const v$ = useVuelidate(rules, form)

    async function login(): Promise<void> {
      v$.value.$touch()
      if (v$.value.$error) return
      const user: UserDto | void = await authStore.dispatch(AuthActionsTypes.login, form).catch((err) => {
        console.log(err)
      })
      if (user) {
        profileStore.commit(ProfileMutationType.ChangeProfileUser, user)
        router.replace({ name: 'Chat' })
      }
    }

    return {
      form,
      v$,
      isSaveEmail,
      login,
    }
  },
})
</script>
