<template>
  <div
    class="tw-w-full tw-min-h-screen tw-flex tw-flex-wrap tw-justify-center tw-items-center tw-p-14px tw-bg-gray-200"
  >
    <div class="tw-w-560px tw-bg-white tw-rounded-xl tw-relative tw-px-84px tw-py-54px">
      <div class="tw-w-full tw-flex tw-justify-between tw-flex-wrap">
        <span class="tw-text-30px tw-text-gray-800 tw-uppercase tw-text-left tw-w-full tw-block tw-pb-32px">
          Регистрация
        </span>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> Имя </span>
        <VTextInput
          v-model="state.form.name"
          :placeholder="'Введите Имя'"
          :invalid="Boolean(v$.form.name.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.form.name.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> Логин </span>
        <VTextInput
          v-model="state.form.login"
          :placeholder="'Введите логин'"
          :invalid="Boolean(v$.form.login.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.form.login.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> E-mail </span>
        <VTextInput
          v-model="state.form.email"
          :placeholder="'Введите E-mail'"
          :invalid="Boolean(v$.form.email.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.form.email.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <span class="tw-text-13px tw-text-gray-800 tw-uppercase tw-leading-4 tw-pb-10px"> Пароль </span>
        <VTextInput
          v-model="state.form.password"
          type="password"
          :placeholder="'Введите новый пароль'"
          :invalid="Boolean(v$.form.password.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.form.password.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <VTextInput
          v-model="state.repeatPassword"
          type="password"
          :placeholder="'Повторите пароль'"
          :invalid="Boolean(v$.repeatPassword.$errors.length)"
          class="tw-w-full tw-mb-36px"
        >
          <div v-for="error of v$.repeatPassword.$errors" :key="error.$uid" class="input-errors">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </VTextInput>

        <div class="tw-flex tw-justify-between tw-w-full tw-pt-26px">
          <VButton @click="register" @key.enter="register">
            <template #text>Создать аккаунт</template>
          </VButton>
          <router-link :to="{ name: 'Login' }">
            <VButton class="outline">
              <template #text>Авторизация</template>
            </VButton>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, computed } from 'vue'
import router from '@/router'
import useVuelidate, { ValidationArgs } from '@vuelidate/core'
import VTextInput from '@/components/ui/inputs/TextInput.vue'
import VButton from '@/components/ui/Button.vue'
import { UserDto } from 'generated/api'
import { minLength, required, email, sameAs } from '@vuelidate/validators'
import { useAuthStore } from '@/store/auth'
import { AuthActionsTypes } from '@/store/auth/actions'
import { useProfileStore } from '@/store/profile'
import { ProfileMutationType } from '@/store/profile/mutations'
import { ProfileModel } from '@/models/ProfileModel'

export default defineComponent({
  name: 'LoginForm',
  components: {
    VTextInput,
    VButton,
  },
  setup() {
    const authStore = useAuthStore()
    const profileStore = useProfileStore()

    const state = reactive({
      form: new ProfileModel(),
      repeatPassword: '',
      isSaveLogin: false,
    })

    const rules = computed((): ValidationArgs => {
      return {
        form: {
          name: { required, min: minLength(2) },
          login: { required, min: minLength(3) },
          email: { required, email },
          password: { required, min: minLength(4) },
        },

        repeatPassword: {
          required,
          sameAs: sameAs(state.form.password),
        },
      }
    })

    const v$ = useVuelidate(rules, state)

    async function register(): Promise<void> {
      v$.value.$touch()
      if (v$.value.$error) return
      const user: UserDto | void = await authStore.dispatch(AuthActionsTypes.register, state.form).catch((err) => {
        console.log(err)
      })
      if (user) {
        profileStore.commit(ProfileMutationType.ChangeProfileUser, user)
        router.replace({ name: 'Chat' })
      }
    }

    return {
      state,
      register,
      v$,
    }
  },
})
</script>
