<template>
  <button
    v-if="$slots.left || $slots.text || $slots.right"
    class="
      tw-flex tw-justify-center tw-items-center tw-bg-gray-500 tw-text-white tw-px-16px tw-py-6px
      hover:tw-bg-gray-600
      tw-rounded
      disabled:tw-cursor-not-allowed disabled:tw-pointer-events-none
    "
  >
    <div v-if="$slots.left" class="left">
      <slot name="left" />
    </div>
    <div v-if="$slots.text" class="text-button">
      <slot name="text" />
    </div>
    <div v-if="$slots.right" class="right">
      <slot name="right" />
    </div>
  </button>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'VButton',
})
</script>

<style lang="scss">
.outline {
  @apply tw-bg-white;
  @apply tw-border-2;
  @apply tw-border-gray-600;
  @apply tw-text-black;
  &:hover {
    @apply tw-bg-gray-300;
  }
}
.danger {
  @apply tw-bg-red-600;
  &:hover {
    @apply tw-bg-red-700;
  }
}

.green {
  @apply tw-bg-green-600;
  &:hover {
    @apply tw-bg-green-700;
  }
}

.white {
  @apply tw-bg-white;
  @apply tw-text-black;
  &:hover {
    @apply tw-bg-gray-200;
  }
}

.white-blue {
  @apply tw-bg-white;
  @apply tw-text-blue-600;
  &:hover {
    @apply tw-bg-gray-200;
  }
}
</style>
